/* * {
  border: solid red;
} */

body {
  background-color: #134d71;
  background-image: linear-gradient(#134d71, #78a7c6, #f7e4bf);
  background-position: center;
  background-size: cover;
  height: 100vh;
  width: 100vw;
  margin: 0;
  overflow: hidden;
}

.title {
  font-family: 'Quicksand', 'sans-serif';
  font-size: 32px;
  color: #ffffff;
  padding: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-box-container {
  height: 50%;
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: stretch;
  align-items: center;
}

/* .button-container {
  height: 10px;
  width: 200px;
} */

.form-box {
  font-family: 'Quicksand', 'sans-serif';
  background-color: #ffffff;
  border-radius: 8px;
  width: 480px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.info-box {
  background-color: #ffffff;
  border-radius: 8px;
  font-family: 'Quicksand', 'sans-serif';
  font-style: normal;
  font-size: 20px;
  width: 700px;
  margin: 100px;
  padding: 60px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sub-title {
  font-family: 'Quicksand', 'sans-serif';
  font-size: 28px;
  color: #ffffff;
  margin: 19px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn {
  background-color: #134d71;
  color: #ffffff;
  font-family: 'Quicksand', 'sans-serif';
  font-size: 18px;
  height: 35px;
  width: 235px;
  padding: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
  border: 0;
  cursor: pointer;
}

.uplifting-message {
  font-family: 'Quicksand', 'sans-serif';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%)
}

/* .clear-button-container {
  border: 0;
  height: 80px;
  width: 100px;
  margin-top: 2%;
  margin-bottom: 2%;
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  justify-content: flex-start;
  align-items: flex-end;
}  */

/* .button-button-container {
  height: 15vh;
  width: -moz-available;
} */

/* .clear-button {
  background-color: #134d71;
  color: #ffffff;
  font-family: 'Quicksand', 'sans-serif';
  font-size: 14px;
  border-radius: 6px;
  border: 0;
  cursor: pointer;
}
*/